.markdownContainer {
  text-align: justify;
  overflow-wrap: anywhere;

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  //gives the table a normal border
  table, th, td {
    text-align: initial;
    border: solid var(--mat-sys-on-surface) 1px;
    border-collapse: collapse;
  }

  th, td {
    padding: 5px;
  }
}
