@use '../../../../customVariables';

button {
  position: fixed;
  z-index: 10000;
  bottom: 15dvh;
  right: 45px;
  opacity: 1;
  transition: opacity 0.5s ease;

  @media only screen and (max-width: customVariables.$mobile-max-width) {
    bottom: 5dvh;
    right: 30px;
  }
}

.scroll-button-disabled {
  opacity: 0;
}
