@use '../../../../customVariables';

mat-card {
  container: my-layout / size;
  width: 100%;
  height: 110px;
  cursor: pointer;
  margin-block: 10px;

  //additional settings for the background image which gets set in the html
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  //needed to cut off the parts of the ::before element that go outside of the mat-card
  overflow: hidden;

  //general animation setup
  transition: all 0.5s ease;
}

mat-card-header {
  font: var(--typography-header-font-medium-accent);
  font-size: clamp(1.75rem, 7cqw, calc(var(--typography-header-size-medium) + 10px));
  text-transform: uppercase;
  text-shadow: -2px -2px 1px var(--mat-sys-background), 2px -2px 1px var(--mat-sys-background),
  -2px 2px 1px var(--mat-sys-background), 2px 2px 1px var(--mat-sys-background);
}

mat-card-content {
  container: card-content-container;
  padding-left: 45px;

  //needed for icon positioning
  display: flex;
  flex-direction: row;

  .text {
    font: var(--typography-body-font);
    font-size: clamp(1rem, 5cqw, var(--typography-body-size));
    /*-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--mat-sys-background);*/
    text-shadow: -1px -1px 0 var(--mat-sys-background), 1px -1px 0 var(--mat-sys-background),
    -1px 1px 0 var(--mat-sys-background), 1px 1px 0 var(--mat-sys-background);
  }
}

mat-icon {
  width: inherit;
  height: 70px;
  margin-left: auto;
  position: relative;
  top: -48px;
  font-size: 70px;

  //opacity animation setup
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

//initial values for the holo overlay
.holoCard::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
      0deg,
      transparent,
      transparent 30%,
      rgba(95, 95, 95, 0.3)
  );
  transform: rotate(-45deg);

  //opacity and position animation setup
  opacity: 0;
  transition: all 0.5s ease;
}

mat-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(95, 95, 95, 0.3);

  mat-icon {
    opacity: 0.75;
  }
}

//animation of the holo overlay, adjusted for different screen sizes
.holoCard:hover::before {
  opacity: 1;

  @media only screen and (max-width: customVariables.$mobile-max-width) {
    transform: rotate(-45deg) translateY(30dvw);
  }

  @media only screen and (min-width: customVariables.$desktop-min-width) and (max-width: customVariables.$desktop-max-width) {
    transform: rotate(-45deg) translateY(13dvw);
  }

  @media only screen and (min-width: customVariables.$widescreen-min-width) {
    transform: rotate(-45deg) translateY(10dvw);
  }
}
