@use '../../../../customVariables';

img {
  height: auto;
  max-height: 80vh;
  width: auto;
  max-width: 80vw;

  @media only screen and (max-width: customVariables.$mobile-max-width) {
    height: auto;
    max-height: 90vh;
    width: auto;
    max-width: 100vw;
  }
}
