@use '../../customVariables';

mat-card {
  width: 100%;
  height: 110px;
  cursor: pointer;
  margin-block: 10px;

  //additional settings for the background image which gets set in the html
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  //needed to cut off the parts of the ::before element that go outside of the mat-card
  overflow: hidden;

  transition: all 0.5s ease;
}

mat-card-content {
  display: flex;
  flex-direction: row;
}

mat-icon {
  width: inherit;
  margin-left: auto;
  top: -16px;
  height: 94px;
  font-size: 70px;
  position: relative;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.holoCard::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
      0deg,
      transparent,
      transparent 30%,
      rgba(95, 95, 95, 0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

mat-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(95, 95, 95, 0.3);

  mat-icon {
    opacity: 0.75;
  }
}

.holoCard:hover::before {
  opacity: 1;

  @media only screen and (max-width: customVariables.$mobile-max-width) {
    transform: rotate(-45deg) translateY(30dvw);
  }

  @media only screen and (min-width: customVariables.$desktop-min-width) and (max-width: customVariables.$desktop-max-width) {
    transform: rotate(-45deg) translateY(13dvw);
  }

  @media only screen and (min-width: customVariables.$widescreen-min-width) {
    transform: rotate(-45deg) translateY(10dvw);
  }
}
