@use '../../../../customVariables';

mat-card {
  mat-card-title {
    font: var(--typography-header-font-medium-accent);
  }

  .profile-image-wrapper {
    border-radius: 10px;
  }

  mat-card-content {
    min-height: 600px;
  }

  .profile-placeholder {
    display: flex;
    width: 345px;
    height: 460px;
    align-items: center;
    justify-content: center;

    mat-icon {
      height: auto;
      width: auto;
      font-size: 245px;
    }
  }

  @media only screen and (max-width: customVariables.$mobile-max-width) {
    .profile-placeholder {
      width: 297px;
      height: 396px;
    }

    img {
      width: 297px;
      height: 396px;
    }
  }
}


