@keyframes rotation-full {
  from {
    rotate: 0deg
  }
  to {
    rotate: 360deg
  }
}

.animation__rotation-full {
  animation-name: rotation-full;
  animation-duration: 0.5s;
}

@keyframes rotation-half {
  from {
    rotate: 0deg
  }
  to {
    rotate: 180deg
  }
}

.animation__rotation-half {
  animation-name: rotation-half;
  animation-duration: 0.25s;
}

@keyframes wobble {
  0% {
    rotate: 0deg
  }
  20% {
    rotate: 10deg
  }
  40% {
    rotate: -10deg
  }
}

.animation__wobble {
  animation-name: wobble;
  animation-duration: 0.75s;
}

@keyframes popIn {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.animation__popIn {
  animation-name: popIn;
  animation-duration: 0.75s;
}

@keyframes popIn-less {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.animation__popIn-less {
  animation-name: popIn;
  animation-duration: 0.75s;
}
