@use '../../../../customVariables';

mat-card-header {
  font: var(--typography-header-font-large-accent);
}

mat-card-content {
  height: calc(70dvh - #{customVariables.$desktop-toolbar-height});
  min-height: 450px;
  overflow-y: scroll;

  @media only screen and (max-width: customVariables.$mobile-max-width) {
    height: calc(50dvh - #{customVariables.$mobile-toolbar-height});
  }
}

.side-by-side {
  display: flex;

  > div {
    width: 50%;
  }

  &__title {
    font: var(--typography-header-font-medium);
    margin: 0;
  }

  &__summary {
    text-align: justify;
  }

  table {
    width: 100%;
  }

  //gives the table a normal border
  table, th, td {
    border: solid var(--mat-sys-on-surface) 1px;
    border-collapse: collapse;
  }

  th, td {
    padding: 5px;
  }

  @media only screen and (max-width: customVariables.$mobile-max-width) {
    flex-direction: column;

    > div {
      width: 100%;
    }
  }
}

.summary-images-container {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;

  //necessary to keep images with different size ratios always at the correct ratio, without stretching the image
  .image-wrapper {
    width: 100%;
    //distribute the mat-content height equally over all three pictures
    height: calc(70dvh / 3 - #{customVariables.$desktop-toolbar-height});
    min-height: calc(450px / 3);
    padding-block: 0.5vh;
    text-align: center;
    align-content: center;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
  }

  img:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: customVariables.$mobile-max-width) {
    padding-left: unset;
    padding-block: 2vh;

    .image-wrapper {
      height: 100%;

      img {
        max-height: 450px;
      }
    }
  }
}
