@use '../../../../customVariables';

.pixels-overlay__container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &__pixel {
    opacity: 0;
    transition: opacity 2s ease 0.5s;

    &--type-0 {
      background-color: var(--mat-sys-primary);
    }

    &--type-1 {
      background-color: var(--mat-sys-secondary);
    }

    &--type-2 {
      background-color: var(--mat-sys-tertiary);
    }

    //extra duplicate class of normal :hover to enable/disable through typescript
    //(pseudo-classes shouldn't be triggered directly in typescript)
    &--hover {
      opacity: 0.8;
      transition: opacity 0.2s ease;
    }
  }

  &__pixel:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease;
  }
}
