@use '@angular/material' as mat;

.theme-slide-toggle {
  @include mat.slide-toggle-overrides((
    //track-outline-color: var(--mat-sys-primary),
    //handle-shape: 8px,
    //track-shape: 8px,
  ))
}

