@use '../../../../customVariables';

#cursorLight {
  background: radial-gradient(
      transparent 5%,
      black 10%,
      black
  );
  border-radius: 50%;
  height: 500%;
  aspect-ratio: 1;
  top: calc(var(--cursorLightTop) + var(--scrollTop) - #{customVariables.$desktop-toolbar-height} - 30px);
  left: calc(var(--cursorLightLeft) - var(--sidenav-open-width));
  transform: translate(-50%, -50%);
  position: absolute;
  transition: all 0.05s ease;
  pointer-events: none;

  @media only screen and (max-width: customVariables.$mobile-max-width) {
    top: calc(var(--cursorLightTop) + var(--scrollTop) - #{customVariables.$mobile-toolbar-height} - 30px);
  }
}

.cursor-light-overlay {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}
