<div style="height: 100dvh">
  <header>
    <mat-toolbar>
      <button
        #sidenavToggleButton
        matIconButton
        (click)="onSidenavToggleButtonClick()"
      >
        @if (!sidenav?.opened) {
          <mat-icon>menu</mat-icon>
        } @else {
          <mat-icon>close</mat-icon>
        }
      </button>
      <span
        id="siteName"
        (pointerenter)="onSiteNamePointerEnter()"
        (click)="onSiteNameClick()"
        [routerLink]="['']"
      >
        Irrlicht
      </span>
      <span class="toolbar-spacer"></span>
      <theme-toggle/>
    </mat-toolbar>
  </header>

  <mat-drawer-container class="drawer-container">
    <mat-drawer #sidenav class="drawer">
      <mat-tree #tree [dataSource]="projectTreeDataSource" [childrenAccessor]="childrenAccessor">
        <!-- Template for leaf nodes (non-expandable nodes) -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <button matButton [routerLink]="[`${node.route}`]">
            @if (node.iconName) {
              <mat-icon>{{ node.iconName }}</mat-icon>
            }
            {{ node.name }}
          </button>
        </mat-tree-node>
        <!-- Template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
                       [cdkTreeNodeTypeaheadLabel]="node.name">
          <button matButton matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon>{{ node.iconName }}</mat-icon>
            {{ node.name }}
            <mat-icon iconPositionEnd>
              {{ tree.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right' }}
            </mat-icon>
          </button>
        </mat-tree-node>
      </mat-tree>
      <sidenav-mode-toggle [sidenav]="sidenav"/>
    </mat-drawer>
    <full-page-loader/>
    <scroll-to-top-button/>
    <router-outlet/>
  </mat-drawer-container>
</div>
