@use '../customVariables';

.drawer-container {
  width: 100%;
  height: calc(100dvh - #{customVariables.$desktop-toolbar-height});

  @media only screen and (max-width: customVariables.$mobile-max-width) {
    height: calc(100dvh - #{customVariables.$mobile-toolbar-height});
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.drawer {
  width: customVariables.$sidenav-width;
  padding: 20px;
  border-right: 1px solid var(--mat-sys-primary);
}

#siteName {
  cursor: pointer;
  font: var(--typography-header-font-medium-accent);
}
