<main>
  @if (loading) {
    <mat-spinner class="c-spinner-view"/>
  } @else {
    <div #contentPane class="content-pane content-pane--block-title">
      <p #contentPaneText
         class="content-pane__header"
         observeVisibility
         [debounceTime]="0"
         (visible)="contentPaneVisible($event)"
      >
        Team
      </p>
    </div>
    <div class="member-container c-whitespace-container--wide">
      @for (teamMember of teamMembers; track teamMember.index) {
        <member-card
          [member]="teamMember"
          observeVisibility
          [threshold]="0.01"
          [debounceTime]="0"
          (visible)="contentPaneVisible($event)"
        />
      }
    </div>
  }
</main>
