@use '../../../customVariables';

.member-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  member-card {
    padding: 30px;

    @media only screen and (max-width: customVariables.$mobile-max-width) {
      padding-inline: 0;
    }
  }
}
