@use '../../../customVariables';

.mission-container-pixels {
  height: 80%;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
}

.mission-container-pixels p {
  font-size: 80px;
}

.pixels-overlay-container {
  position: absolute;
  left: 0;
  height: 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.pixel {
  opacity: 0;
  transition: opacity 2s ease 0.5s;
}

.pixel:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.pixel-0 {
  background-color: var(--mat-sys-primary);
}

.pixel-1 {
  background-color: var(--mat-sys-secondary);
}

.pixel-2 {
  background-color: var(--mat-sys-tertiary);
}

.content-pane {
  height: 50vh;
}
