@use '../../../customVariables';

.pixels-text-container {
  font-family: "Jersey 15", sans-serif;
  text-shadow: -3px -3px 0 var(--mat-sys-background), 3px -3px 0 var(--mat-sys-background),
  -3px 3px 0 var(--mat-sys-background), 3px 3px 0 var(--mat-sys-background);
  font-size: 100px;
  text-align: center;
  align-content: center;
  text-transform: capitalize;
  position: relative; //used to position the text above the overlay
  pointer-events: none; //needed for the overlay to still receive pointer events

  height: calc(100dvh - #{customVariables.$desktop-toolbar-height});

  @media only screen and (max-width: customVariables.$mobile-max-width) {
    height: calc(100dvh - #{customVariables.$mobile-toolbar-height});
  }

  animation-name: popIn-less;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
}

.pixels-text-container p {
  font-size: 140px;
  margin: 0;
  pointer-events: none;
  animation-name: popIn;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
}

.content-pane {
  margin-block: 30dvh;
  height: 30dvh;
  background-color: var(--mat-sys-primary);
  text-align: center;
  align-content: center;

  &__text {
    opacity: 0;
    font-size: 50px;
  }
}
