@use '../../../customVariables';

.tab-selector {
  height: 15px;
  aspect-ratio: 1;
  background-color: var(--mat-sys-primary);
  border-radius: 50%;
  display: inline-block;
}

.subtitle {
  margin-top: 8vh;
  font: var(--typography-header-font-large);
  text-align: center;
  align-content: center;
}

.mat-mdc-tab-labels {
  max-width: 30px;
}

.documentation-navigation {
  background-color: var(--mat-sys-on-background);
  position: fixed;
  z-index: 9999;
  max-height: 50vh;
  overflow-y: scroll;
  top: 20dvh;
  right: -220px;
  border-radius: 15px;
  padding: 10px;
  width: 200px;

  transition: right 0.5s ease;

  mat-tree {
    background-color: unset;
    padding-top: 20px;
  }

  mat-tree-node > button {
    text-align: left;
    height: unset;
    min-height: 40px;
    max-height: 50px;
  }

  .mat-mdc-fab {
    z-index: 10000;
    position: fixed;
    right: 45px;
    top: calc(20dvh - 20px);

    transition: right 0.5s ease;

    @media only screen and (max-width: customVariables.$mobile-max-width) {
      top: calc(#{customVariables.$mobile-toolbar-height} + 15px);
      right: 30px;
    }
  }

  &--expanded {
    right: -10px;

    .mat-mdc-fab {
      right: 175px;
    }
  }

  @media only screen and (max-width: customVariables.$mobile-max-width) {
    top: calc(#{customVariables.$mobile-toolbar-height} + 35px);
  }
}
