@use '@angular/material' as mat;
@use 'common/animations.scss';

//custom global variable declaration
:root {
  --custom-mobile-width: 599px;
}

html {
  height: 100dvh;
  color-scheme: light dark;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  @include mat.theme((
    //color: (
    //  theme-type: light,
    //  primary: mat.$azure-palette,
    //  tertiary: mat.$blue-palette,
    //),
    color: mat.$cyan-palette,
    typography: Roboto,
    density: 0,
  ));

  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-secondary),
  ));

  @include mat.sidenav-overrides((
    container-shape: 0%,
    container-width: 180px,
  ));

  //START MAT TAB OVERRIDES

  @include mat.tabs-overrides((
    divider-height: 5px,
    divider-color: transparent,
    container-height: 35px,
  ));

  .mdc-tab {
    min-width: unset !important;
    padding: 0 10px !important;
    border-radius: 50%;

    .mat-ripple {
      border-radius: 50% !important;
    }

    .mdc-tab__ripple::before {
      border-radius: 50% !important;
    }

    .mdc-tab__text-label {
      transition: all 0.5s ease;
    }
  }

  .mdc-tab--active {
    .mdc-tab__text-label {
      transform: scale(1.5);
    }
  }

  .mdc-tab:hover {
    .mdc-tab__text-label {
      transform: scale(1.5);
    }
  }
}

header {
  background-color: var(--mat-sys-secondary);
}

body.theme-dark {
  color-scheme: dark;
}

body.theme-light {
  color-scheme: light;
}

.gradient-border {
  $border: 10px;
  margin: $border;

  background-clip: padding-box;
  border: solid $border transparent;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(to right, var(--mat-sys-primary), var(--mat-sys-neutral-variant20));
  }
}
