@use '@angular/material' as mat;
@use 'customVariables';
@use 'app/common/animations';

@import 'customStyles/p-container';

//custom global variable declaration
:root {
  //the following variables are set and updated in sidenav-mode-toggle.ts
  --sidenav-open: false; //true if the sidenav is open
  --sidenav-mode: ""; //string of the current MatDrawerMode that the sidenav is in
  --sidenav-width: #{customVariables.$sidenav-width};
  --sidenav-open-width: 0px; //set to the same value as --sidenav-width but only when sidenav is open

  //typography definitions
  --typography-title-weight: 400;
  --typography-title-size-large: 8rem;
  --typography-title-size-medium: 6rem;
  --typography-title-size-small: 4rem;
  --typography-title-line-height: 8rem;
  --typography-title-style: "Jersey 15";

  --typography-header-weight: 400;
  --typography-header-size-large: 3.125rem;
  --typography-header-size-medium: 2.75rem;
  --typography-header-style: Roboto;
  --typography-header-style-accent: "Jersey 15";

  --typography-body-weight: 400;
  --typography-body-size: 1.5rem;
  --typography-body-style: Roboto;

  @media only screen and (max-width: customVariables.$mobile-max-width) {
    --typography-title-size-large: 6.875rem;
    --typography-title-size-medium: 5rem;

    --typography-header-size-large: 2.5rem;
    --typography-header-size-medium: 2.125rem;

    --typography-body-size: 1rem;
  }


  //typography fonts
  --typography-title-font-large: var(--typography-title-weight) var(--typography-title-size-large) / var(--typography-title-line-height) var(--typography-title-style);
  --typography-title-font-medium: var(--typography-title-weight) var(--typography-title-size-medium) var(--typography-title-style);


  --typography-header-font-large: var(--typography-header-weight) var(--typography-header-size-large) var(--typography-body-style);
  --typography-header-font-large-accent: var(--typography-header-weight) calc(var(--typography-header-size-large) + 10px) var(--typography-header-style-accent);

  --typography-header-font-medium: var(--typography-header-weight) var(--typography-header-size-medium) var(--typography-body-style);
  --typography-header-font-medium-accent: var(--typography-header-weight) calc(var(--typography-medium-size-large) + 10px) var(--typography-header-style-accent);


  --typography-body-font: var(--typography-body-weight) var(--typography-body-size) var(--typography-body-style);
}

html {
  height: 100dvh;
  color-scheme: light dark;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", "Jersey 15", sans-serif;
  @include mat.theme((
    //color: (
    //  theme-type: light,
    //  primary: mat.$azure-palette,
    //  tertiary: mat.$blue-palette,
    //),
    color: mat.$cyan-palette,
    typography: (
      plain-family: Roboto,
      brand-family: "Jersey 15",
    ),
    density: 0,
  ));

  //START MAT TOOLBAR OVERRIDES

  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-secondary),
  ));

  mat-toolbar {
    height: customVariables.$mobile-toolbar-height !important;

    @media only screen and (min-width: customVariables.$desktop-min-width) {
      height: customVariables.$desktop-toolbar-height !important;
    }
  }

  //START MAT SIDENAV OVERRIDES

  @include mat.sidenav-overrides((
    container-shape: 0%,
    container-width: 180px,
  ));

  //START MAT TAB OVERRIDES

  @include mat.tabs-overrides((
    divider-height: 5px,
    divider-color: transparent,
    container-height: 35px,
  ));

  .mdc-tab {
    min-width: unset !important;
    padding: 0 10px !important;
    border-radius: 50%;

    .mat-ripple {
      border-radius: 50% !important;
    }

    .mdc-tab__ripple::before {
      border-radius: 50% !important;
    }

    .mdc-tab__text-label {
      transition: all 0.5s ease;
    }
  }

  .mdc-tab--active {
    .mdc-tab__text-label {
      transform: scale(1.5);
    }
  }

  .mdc-tab:hover {
    .mdc-tab__text-label {
      transform: scale(1.5);
    }
  }
}

header {
  background-color: var(--mat-sys-secondary);
}

body.theme-dark {
  color-scheme: dark;
}

body.theme-light {
  color-scheme: light;
}

.gradient-border {
  $border: 10px;
  margin: $border;

  background-clip: padding-box;
  border: solid $border transparent;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(to right, var(--mat-sys-primary), var(--mat-sys-neutral-variant20));
  }
}
